[program:niquery]
command = {{ anaconda_home }}/bin/gunicorn
	--bind 127.0.0.1:{{ webapp_port }}
	--workers 4
	--max-requests 1000
	--access-logfile /var/log/{{ app_name }}/access.log
	--error-logfile /var/log/{{ app_name }}/error.log
	--log-level info
	api:app

directory = {{ webapps_dir }}/{{ app_name }}
autostart=true
autorestart=true