/* form style */
#myform {
    background:#999999;
    padding:15px 20px;
    color:#000;
    width:800px;
    margin:0 auto;
    position:relative;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

/* nested fieldset */
#myform fieldset {
    border:0;
    margin:0;
    padding:0;
    padding:15px 20px;
    background:#FFFFFF ;
}

.queryselectbutton {
}

.queryselectlabel {
	display : inline;
	font-size : 22px;
	font-family: verdana, sans-serif;
}

#queryresults {
	font-size: 18px;
}

table, th, td
{
	padding: 5px;
}

#templatecontrols {
	position:relative;
 	left:25px;
 	top:20;
 	font-family: verdana, sans-serif;
}

#myform label input {
    display:block;
}


/* input field */
#myform input {
    border:1px solid #444;
    padding:5px;
    color:#000;

    /* CSS3 spicing */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

/* button */
#myform button {
    outline:0;
    border:1px solid #666;
}


/* error message */
.error {
    height:15px;
    background-color:#FFFE36;
    font-size:11px;
    border:1px solid #E1E16D;
    padding:4px 10px;
    color:#000;
    display:none;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;

    -moz-box-shadow:0 0 6px #ddd;
    -webkit-box-shadow:0 0 6px #ddd;
}

.error p {
    margin:0;
}

/* field label */
label {
    display:block;
    font-size:16px;
    color:#000;
}

.clear {
    clear:both;
    height:15px;
}

.small_clear {
	clear:both;
	height:5px;
}
